@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  user-select: none;
}
body {
  color: var(--foreground);
  background: #1a1818;
  font-family: Arial, Helvetica, sans-serif;
}
.box-desappear {
  display: none;
}
.box-appear {
  flex: none
}
.box-appear:hover .box-desappear {
  display: flex
}
.t-color {
  @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 inline-block text-transparent bg-clip-text
}